.container-carousel {
    max-height: 80vh;
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            animation: out-img .5s forwards;
        }

        .active,
        .next.left,
        .prev.right {
            animation: in-img .5s forwards;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

@keyframes out-img {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes in-img {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.carousel-inner .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-inner div img {
    transition: .5 all;
    margin: 0 auto;
    align-items: center;
}

.container-titleCarousel {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.container-titleCarousel h2 {
    font-size: 5.5em;
    font-weight: 700;
    color: azure;
    text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
}

.container-titleCarousel p {
    font-size: 1.5em;
    font-weight: 300;
    color: azure;
    text-shadow: 5px 5px 4px rgb(0, 0, 0);
}

@media screen and (max-width: 1530px) {
    .container-titleCarousel {
        top: 35%;
    }
}
@media screen and (max-width: 1300px) {
    .container-titleCarousel {
        top: 30%;
    }
}

@media screen and (max-width: 1100px) {
    .container-titleCarousel {
        top: 25%;
    }

    .container-titleCarousel h2 {
        font-size: 4em;
    }
}

@media screen and (max-width: 820px) {
    .container-titleCarousel {
        top: 20%;
    }
}

@media screen and (max-width: 768px) {
    .container-carousel {
        min-height: 50vh;
    }
    .carousel-inner div img {
        object-fit: cover;
        height: 100% !important ;
    }
    .container-titleCarousel {
        top: 25%;
    }
    .container-titleCarousel h2 {
        font-size: 3.5em;
    }
}
