
body{
    background: #e6e6e6;
}

.container-search {
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 1140px;
    width: 100%;
}

.cards {
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

/* Basic Card */
.basic-card {
    width:300px;
    position: relative;
    max-height: 300px;
    overflow: hidden;
    margin: 1rem;
    background: white;
    border-radius: 20px;
    
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
}

.basic-card .card-content {
    padding: 30px;
}

.basic-card .card-title {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    max-height: 70px; /* Modificado: 2 renglones * 30px (aprox.) */
    max-width: 90% !important;
    width: 90% !important;
    overflow: hidden;
    white-space: normal; /* Modificado: permitir saltos de línea */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Modificado: 2 renglones */
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    color: #252525;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.basic-card .card-text {
    line-height: 1.6;
}

.basic-card .card-link {
    padding: 25px;
    width: -webkit-fill-available;
    margin-top: auto;
}

.basic-card .card-link a {
    text-decoration: none;
    position: relative;
    padding: 10px 0px;
}

.basic-card .card-link a:after {
    top: 30px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    width: 0;

    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.basic-card .card-link a:hover:after { 
    width: 100%; 
    left: 0; 
}

.basic-card-light {
    border: 1px solid #eee;
}

.basic-card-light .card-title, .basic-card-light .card-link a {
    color: #636363;
}

.basic-card-light .card-text {
    color: #7b7b7b;
    min-height: 90px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.basic-card-light .card-link {
    border-top: 1px solid #eee;
}

.basic-card-light .card-link a:after {
    background:#636363;
}

.basic-card-dark {
    background-image: linear-gradient(to bottom right, #252525, #4a4a4a);
}

.basic-card-dark .card-title, .basic-card-dark .card-link a {
    color:#eee;
}

.basic-card-dark .card-text {
    color: #dcdcdcdd;
}

.basic-card-dark .card-link {
    border-top: 1px solid #636363;
}

.basic-card-dark .card-link a:after {
    background:#eee;
}
