img {
    max-width: 1140px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.text-public {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 5rem;
    padding-top: 2rem;
    text-align: justify;
    max-width: 800px;
}

.title-public {
    margin-top: 4rem;
    margin-bottom: none;
    font-size: 30pt;
    font-weight: bold;
}

@media screen and (max-width: 1140px){
    img {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .text-public {
        padding: 2rem;
    }
    .title-public {
        font-size: 20pt;
    }

    img {
        max-width: 100%;
    }
    

}